In [29]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['titanic', 'iriscsv']

In [30]:
import os
print(os.listdir("../input"))
import pandas as pd

['titanic', 'iriscsv']

In [113]:
df_iris = pd.read_csv("../input/iriscsv/Iris.csv")

In [114]:
df_iris.shape

(150, 6)

In [115]:
df_iris.head()

   Id  SepalLengthCm     ...       PetalWidthCm      Species
0   1            5.1     ...                0.2  Iris-setosa
1   2            4.9     ...                0.2  Iris-setosa
2   3            4.7     ...                0.2  Iris-setosa
3   4            4.6     ...                0.2  Iris-setosa
4   5            5.0     ...                0.2  Iris-setosa

[5 rows x 6 columns]

In [116]:
df_iris.describe()

               Id  SepalLengthCm      ...       PetalLengthCm  PetalWidthCm
count  150.000000     150.000000      ...          150.000000    150.000000
mean    75.500000       5.843333      ...            3.758667      1.198667
std     43.445368       0.828066      ...            1.764420      0.763161
min      1.000000       4.300000      ...            1.000000      0.100000
25%     38.250000       5.100000      ...            1.600000      0.300000
50%     75.500000       5.800000      ...            4.350000      1.300000
75%    112.750000       6.400000      ...            5.100000      1.800000
max    150.000000       7.900000      ...            6.900000      2.500000

[8 rows x 5 columns]

In [117]:
# dropping columns Id
df_iris = df_iris.drop(columns = ["Id"])

In [118]:
# adding calculated column sum based on sum of values in columns "SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"
df_iris['sum']=df_iris.sum(axis=1)

In [119]:
df_iris.head(5)

   SepalLengthCm  SepalWidthCm  ...       Species   sum
0            5.1           3.5  ...   Iris-setosa  10.2
1            4.9           3.0  ...   Iris-setosa   9.5
2            4.7           3.2  ...   Iris-setosa   9.4
3            4.6           3.1  ...   Iris-setosa   9.4
4            5.0           3.6  ...   Iris-setosa  10.2

[5 rows x 6 columns]

In [120]:
# dropping columns "SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"
df_iris = df_iris.drop(columns=["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"])

In [121]:
df_iris.head(5)

       Species   sum
0  Iris-setosa  10.2
1  Iris-setosa   9.5
2  Iris-setosa   9.4
3  Iris-setosa   9.4
4  Iris-setosa  10.2

In [122]:
df_iris.describe()

              sum
count  150.000000
mean    13.854667
std      3.128149
min      8.400000
25%     10.700000
50%     14.300000
75%     16.250000
max     20.400000

In [124]:
# max, min, av in form of df.describe() assignment
# for each category of species
# http://makemeanalyst.com/basic-statistics-explore-your-data-cases-variables-types-of-variables/
df_iris.groupby("Species")['sum'].describe().reset_index()

           Species  count    mean       std  ...     25%    50%   75%   max
0      Iris-setosa   50.0  10.132  0.789068  ...    9.60  10.20  10.7  12.0
1  Iris-versicolor   50.0  14.292  1.290916  ...   13.45  14.35  15.4  16.4
2   Iris-virginica   50.0  17.140  1.454760  ...   15.80  17.20  18.1  20.4

[3 rows x 9 columns]